body{
    background-color: #f5f6f7;
    font-family: 'PT Sans', sans-serif;
}
a, a:hover, a:visited, a:active
{
    color: #0C4E8A;
    text-decoration: none;
}

h1 img {
    height: 70px;
}

article{
    text-align: center;
}

.other-works
{
    text-align: center;
}

.graphic-link-handler
{
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.other-works .graphic-link-handler .app-icon
{
    height: 80px;
}

.download .graphic-link-handler .app-icon
{
    height: 35px;
}

.graphic-link-handler .platform-icon
{
    position: absolute;
    right: 0;
    height: 23px;
}

.graphic-link-handler .caption
{
    font-size: 0.9em;
}


.clear {
    clear: both;
}

.header
{

}

.download
{

}

.download a
{

}

.download img
{
    height: 40px;
}

.side
{
    margin: 10px;
}

.side h4{
}

.top-side {
    text-align: center;
}

.overview
{
    width: 900px;
    margin: 0 auto;
}

.left-side {
    float: left;
}

.middle-side {
    float: left;
    width: 440px;
}

.middle-side{
    text-align: left;
}

.bottom-side {
    padding-top: 10px;
}

.bottom-side img
{
    width: 160px;
    height: 248px;
    margin: 5px;
}

.footer
{
    text-align: center;
}

.copyright
{
    margin-top: 20px;
    text-align: center;
}